<%= stylesheet_link_tag "main" %><body><h1>Listing questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Option1</th>
    <th>Option2</th>
    <th>Option3</th>
    <th>Option4</th>
    <th>Option5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.questiontxt %></td>
    <td><%= question.option1 %></td>
    <td><%= question.option2 %></td>
    <td><%= question.option3 %></td>
    <td><%= question.option4 %></td>
    <td><%= question.option5 %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure want to delete this question?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %></body>

